/.git
/.github
/.husky
/.vscode
/build
/coverage
/node_modules
/scripts
/src
/tests
/dist-*
/coverage
.editorconfig
.eslintrc.js
eslint.config.js
.prettierignore
.prettierrc
prettier.config.js
jest.config.js
package-lock.json
bun.lock
SECURITY.md
tsconfig.json
*.sh
_*.txt
*.ignore
rollup.*.js
biome.json
vite.config.js
